:root {
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    --primary-blue: #233975;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}












.input-container.password {
    position: relative;
}

.input-container.password i {
    position: absolute;
    top: 42px;
    right: 16px;
}

.input-container.cta {
    display: flex;
    flex-direction: row;
}

.checkbox-container input {
    display: inline-block;
    position: relative;
    /* opacity: 0; */
    /* cursor: pointer; */
    height: 20px;
    width: 20px;
    gap: 20px;

}

.checkbox-container .checkmark {
    display: inline-block;
    padding-left: 2px;
    /* width: 10px;
    height: 10px;
    left: 10px;
    top: 4px; */
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-self: left;
    align-items: center;
    position: relative;
    /* padding-left: 2rem; */
    cursor: pointer;
    user-select: none;
    margin: 0 0 1.25rem 0;
}

.checkbox-container input:checked~.checkmark {
    background-color: var(--primary-blue);
    /* border: 1px solid var(--primary-blue); */
}

.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

/* .checkbox-container .checkmark:after {
    border: solid white;
    border-width: 0 3px 3px 0;
    width: 5px;
    height: 10px;
    left: 8px;
    top: 4px;
    transform: rotate(45deg);
} */

.sign-btn {
    display: block;
    width: 100%;
    background: var(--primary-blue);
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.sign-btn:hover {
    background: #2c4893;
    cursor: pointer;
}


















